version: "3.3"

services:
  backend:
    build: ./backend
    container_name: tp-backend
    ports:
      - "3000:3000"
    environment:
      DB_HOST: db
      DB_PORT: 5432
      DB_USER: postgres
      DB_PASSWORD: postgres
      DB_NAME: mydb
    depends_on:
      - db
    networks:
      - webnet

  frontend:
    build: ./frontend
    container_name: tp-frontend
    ports:
      - "8080:80"
    depends_on:
      - backend
    networks:
      - webnet

  db:
    image: postgres:15-alpine
    container_name: tp-db
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: mydb
    ports:
      - "5432:5432"
    volumes:
      - db-data:/var/lib/postgresql/data
    networks:
      - webnet

networks:
  webnet:
    driver: bridge

volumes:
  db-data:

